header {
    background-color: #e6e6e6;
    text-align: center;
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.tcentro {
    text-align: center;
}

h1 {
    background-color: #c4c4c4;
    color: #005677;
    text-align: center;
}

h2 {
    background-color: #c4c4c4;
    color: #005677;
}

footer {
    background-color: #005677;
    color: #FFFF;
    text-align: center;
}

